@model List<ProductBasketViewModel>
<div class="modal fade" id="wishlist" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Список бажань</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @if (Model.Count > 0)
                {
                    foreach (var prod in Model)
                    {
                        <div class="card product-card" style="width: 18rem;">
                            <div class="card-body">
                                <img class="basket-image" src="@prod.Image" alt="Alternate Text" />
                                <a href="Products/Product/@prod.Id"><h5 class="card-title">@prod.Name</h5></a>
                                <div class="card-text">@prod.Price грн</div>
                                <button class="btn btn-primary btn-remove-from-wish-list" data-id="@prod.Id">Видалити зі списку бажань</button>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <h3>Порожньо</h3>
                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
            </div>
        </div>
    </div>
</div>